<nav>
    <div class="site-title">
      <a href="/"><h1>Travel Buddy</h1></a>
      <p>A fun way to share your itinerary!</p>
    </div>
    <ul>
      <li><a href="/">Travel Buddy</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/itinerary/create">New itinerary</a></li>
    </ul>
  </nav>