<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About The App</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla delectus
        aspernatur in magnam!
      </p>
      <p>
        Earum placeat, voluptate eligendi aspernatur dicta rerum facilis sequi,
        quis atque, soluta magni porro at ad. Asperiores!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
        deserunt veritatis sit magni doloribus illum neque consequuntur iusto
        minus corrupti facere totam quos, soluta quibusdam culpa dicta natus
        numquam pariatur?
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
