<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Buddy | <%= title %></title>
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/"><h1>Travel Buddy</h1></a>
        <p>A fun way to share your itinerary!</p>
      </div>
      <ul>
        <li><a href="/">Travel Buddy</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/itinerary/create">New itinerary</a></li>
      </ul>
    </nav>

    <div class="travel content">
      <h2>All Itineraries</h2>
      <% if (plans.length > 0){ %> <% plans.forEach(plan => { %>

      <h3 class="title"><%= plan.title %></h3>
      <p class="snippet"><%= plan.snippet%></p>

      <% }) %> <% } else { %>
      <p>There are no itineraries to display...</p>
      <% } %>
    </div>
  </body>
</html>
